create sequence "public"."blog_articles_id_seq";

create sequence "public"."blog_categories_id_seq";

create sequence "public"."book_notes_id_seq";

create sequence "public"."friends_id_seq";

create sequence "public"."point_transactions_id_seq";

create sequence "public"."reading_list_id_seq";

create sequence "public"."user_activity_id_seq";

create table "public"."ai_conversations" (
    "id" uuid not null default uuid_generate_v4(),
    "messages" jsonb not null,
    "created_at" timestamp with time zone default now(),
    "updated_at" timestamp with time zone default now()
);


alter table "public"."ai_conversations" enable row level security;

create table "public"."article_categories" (
    "article_id" integer not null,
    "category_id" integer not null
);


alter table "public"."article_categories" enable row level security;

create table "public"."blog_articles" (
    "id" integer not null default nextval('blog_articles_id_seq'::regclass),
    "slug" character varying(255) not null,
    "title" character varying(255) not null,
    "description" text,
    "content" text not null,
    "image_url" text,
    "image_alt" text,
    "isbn_13" text,
    "published_at" timestamp with time zone default now(),
    "created_at" timestamp with time zone default CURRENT_TIMESTAMP,
    "updated_at" timestamp with time zone default CURRENT_TIMESTAMP
);


alter table "public"."blog_articles" enable row level security;

create table "public"."blog_categories" (
    "id" integer not null default nextval('blog_categories_id_seq'::regclass),
    "name" character varying(100) not null,
    "slug" character varying(100) not null,
    "description" text
);


alter table "public"."blog_categories" enable row level security;

create table "public"."book_notes" (
    "id" integer not null default nextval('book_notes_id_seq'::regclass),
    "user_id" uuid,
    "book_id" character varying(20) not null,
    "notes" text,
    "created_at" timestamp with time zone default CURRENT_TIMESTAMP,
    "updated_at" timestamp with time zone default CURRENT_TIMESTAMP
);


alter table "public"."book_notes" enable row level security;

create table "public"."books" (
    "isbn_13" text not null,
    "data" jsonb not null,
    "added_at" timestamp with time zone not null default now()
);


alter table "public"."books" enable row level security;

create table "public"."books_like" (
    "id" text not null,
    "books" text[] not null
);


alter table "public"."books_like" enable row level security;

create table "public"."friends" (
    "id" integer not null default nextval('friends_id_seq'::regclass),
    "user_id" uuid,
    "friend_id" uuid,
    "status" character varying(20),
    "created_at" timestamp with time zone default CURRENT_TIMESTAMP
);


alter table "public"."friends" enable row level security;

create table "public"."habits" (
    "id" uuid not null default gen_random_uuid(),
    "created_at" timestamp with time zone not null default now(),
    "periodicity" text not null,
    "metric" text not null,
    "value" bigint not null default '0'::bigint,
    "user_id" uuid,
    "progress_value" bigint not null default '0'::bigint,
    "streak" jsonb[] default '{}'::jsonb[]
);


alter table "public"."habits" enable row level security;

create table "public"."indie_authors" (
    "author_id" uuid not null,
    "name" text,
    "presentation" text,
    "birth_date" date,
    "first_book_published_year" timestamp without time zone,
    "personal_favorite_genres" text[] not null,
    "main_writing_genres" text[] not null,
    "type_of_books" text[] not null,
    "picture_link" text not null,
    "website" text,
    "is_approved" boolean not null default false
);


create table "public"."indie_authors_books" (
    "book_id" uuid not null,
    "author_id" uuid,
    "release_date" timestamp without time zone,
    "title" text not null,
    "description" text not null,
    "categories" text[] not null,
    "cover_image_small_link" text not null,
    "cover_image_large_link" text not null,
    "is_approved" boolean not null default false
);


create table "public"."indie_authors_books_links" (
    "book_id" uuid not null default gen_random_uuid(),
    "label" text not null,
    "link" text not null
);


create table "public"."indie_authors_social" (
    "social_media_id" uuid not null,
    "author_id" uuid,
    "social_media_name" text,
    "link" text
);


create table "public"."libraries" (
    "id" uuid not null default gen_random_uuid(),
    "display_name" text not null,
    "city_ascii" text not null,
    "state_id" text not null,
    "state_name" text not null,
    "county_name" text not null,
    "lat" text,
    "lon" text,
    "created_at" timestamp with time zone not null default now()
);


alter table "public"."libraries" enable row level security;

create table "public"."point_transactions" (
    "id" integer not null default nextval('point_transactions_id_seq'::regclass),
    "user_id" uuid,
    "points" integer,
    "type" character varying(50),
    "description" text,
    "created_at" timestamp with time zone default CURRENT_TIMESTAMP
);


alter table "public"."point_transactions" enable row level security;

create table "public"."profiles" (
    "id" uuid not null,
    "created_at" timestamp with time zone,
    "last_sign_in_at" timestamp with time zone,
    "raw_app_meta_data" jsonb,
    "raw_user_meta_data" jsonb,
    "email" text,
    "inactivity_email_sent" boolean not null default false
);


alter table "public"."profiles" enable row level security;

create table "public"."quotes" (
    "id" uuid not null default gen_random_uuid(),
    "text" text not null,
    "author" text not null
);


alter table "public"."quotes" enable row level security;

create table "public"."reading_list" (
    "id" integer not null default nextval('reading_list_id_seq'::regclass),
    "user_id" uuid,
    "book_id" character varying(20) not null,
    "status" text,
    "rating" numeric(3,1),
    "review" text,
    "toread_at" timestamp with time zone default CURRENT_TIMESTAMP,
    "pointsAwardedFinished" boolean not null default false,
    "pointsAwardedRating" boolean not null default false,
    "pointsAwardedTextReview" boolean not null default false,
    "tags" text[] default '{}'::text[],
    "reading_at" timestamp with time zone,
    "finished_at" timestamp with time zone,
    "reviewPublic" boolean not null default false,
    "pages_read" integer not null default 0
);


alter table "public"."reading_list" enable row level security;

create table "public"."reading_stats" (
    "user_id" uuid not null,
    "books_read" integer,
    "pages_read" integer,
    "reading_time_minutes" integer default 0
);


alter table "public"."reading_stats" enable row level security;

create table "public"."referrals" (
    "referrer_id" uuid not null,
    "referred_id" uuid not null default gen_random_uuid()
);


alter table "public"."referrals" enable row level security;

create table "public"."sticky_notes" (
    "id" uuid not null default gen_random_uuid(),
    "user_id" uuid not null,
    "book_id" text not null,
    "content" text not null,
    "created_at" timestamp with time zone not null default now(),
    "updated_at" timestamp with time zone,
    "label" text not null,
    "is_public" boolean not null default false
);


alter table "public"."sticky_notes" enable row level security;

create table "public"."user_activity" (
    "id" integer not null default nextval('user_activity_id_seq'::regclass),
    "user_id" uuid,
    "activity_type" character varying(50),
    "details" jsonb,
    "created_at" timestamp with time zone default CURRENT_TIMESTAMP,
    "updated_at" timestamp with time zone default CURRENT_TIMESTAMP
);


alter table "public"."user_activity" enable row level security;

create table "public"."user_point_streak" (
    "user_id" uuid not null default gen_random_uuid(),
    "day1" timestamp with time zone,
    "day2" timestamp with time zone,
    "day3" timestamp with time zone,
    "day4" timestamp with time zone,
    "day5" timestamp with time zone,
    "day6" timestamp with time zone,
    "day7" timestamp with time zone,
    "reward_awarded" boolean[] default '{f,f,f,f,f,f,f}'::boolean[]
);


alter table "public"."user_point_streak" enable row level security;

create table "public"."user_points" (
    "user_id" uuid not null,
    "points_earned" integer,
    "points_redeemed" integer,
    "points_earned_referrals" real not null default '0'::real
);


alter table "public"."user_points" enable row level security;

create table "public"."user_preferences" (
    "user_id" uuid not null,
    "preferred_categories" text[],
    "username" character varying(50),
    "bio" text,
    "profile_picture_url" text,
    "onboarded" boolean not null default false,
    "preferred_ui_language" text default 'en'::text,
    "preferred_book_language" text default 'en'::text
);


alter table "public"."user_preferences" enable row level security;

alter sequence "public"."blog_articles_id_seq" owned by "public"."blog_articles"."id";

alter sequence "public"."blog_categories_id_seq" owned by "public"."blog_categories"."id";

alter sequence "public"."book_notes_id_seq" owned by "public"."book_notes"."id";

alter sequence "public"."friends_id_seq" owned by "public"."friends"."id";

alter sequence "public"."point_transactions_id_seq" owned by "public"."point_transactions"."id";

alter sequence "public"."reading_list_id_seq" owned by "public"."reading_list"."id";

alter sequence "public"."user_activity_id_seq" owned by "public"."user_activity"."id";

CREATE UNIQUE INDEX ai_conversations_pkey ON public.ai_conversations USING btree (id);

CREATE UNIQUE INDEX article_categories_pkey ON public.article_categories USING btree (article_id, category_id);

CREATE UNIQUE INDEX blog_articles_pkey ON public.blog_articles USING btree (id);

CREATE UNIQUE INDEX blog_articles_slug_key ON public.blog_articles USING btree (slug);

CREATE UNIQUE INDEX blog_categories_name_key ON public.blog_categories USING btree (name);

CREATE UNIQUE INDEX blog_categories_pkey ON public.blog_categories USING btree (id);

CREATE UNIQUE INDEX blog_categories_slug_key ON public.blog_categories USING btree (slug);

CREATE UNIQUE INDEX book_notes_pkey ON public.book_notes USING btree (id);

CREATE UNIQUE INDEX book_notes_user_id_book_id_key ON public.book_notes USING btree (user_id, book_id);

CREATE UNIQUE INDEX books_isbn_13_key ON public.books USING btree (isbn_13);

CREATE UNIQUE INDEX books_like_pkey ON public.books_like USING btree (id);

CREATE UNIQUE INDEX books_pkey ON public.books USING btree (isbn_13);

CREATE UNIQUE INDEX friends_pkey ON public.friends USING btree (id);

CREATE UNIQUE INDEX friends_user_id_friend_id_key ON public.friends USING btree (user_id, friend_id);

CREATE UNIQUE INDEX habits_pkey ON public.habits USING btree (id);

CREATE UNIQUE INDEX indie_authors_books_links_pkey ON public.indie_authors_books_links USING btree (book_id);

CREATE UNIQUE INDEX indie_authors_books_pkey ON public.indie_authors_books USING btree (book_id);

CREATE UNIQUE INDEX indie_authors_pkey ON public.indie_authors USING btree (author_id);

CREATE UNIQUE INDEX indie_authors_social_pkey ON public.indie_authors_social USING btree (social_media_id);

CREATE UNIQUE INDEX libraries_display_name_key ON public.libraries USING btree (display_name);

CREATE UNIQUE INDEX libraries_pkey ON public.libraries USING btree (id);

CREATE UNIQUE INDEX point_transactions_pkey ON public.point_transactions USING btree (id);

CREATE UNIQUE INDEX profiles_pkey ON public.profiles USING btree (id);

CREATE UNIQUE INDEX quotes_pkey ON public.quotes USING btree (id);

CREATE UNIQUE INDEX quotes_text_key ON public.quotes USING btree (text);

CREATE UNIQUE INDEX reading_list_pkey ON public.reading_list USING btree (id);

CREATE UNIQUE INDEX reading_list_user_book_unique ON public.reading_list USING btree (user_id, book_id);

CREATE UNIQUE INDEX reading_stats_pkey ON public.reading_stats USING btree (user_id);

CREATE UNIQUE INDEX referrals_pkey ON public.referrals USING btree (referrer_id);

CREATE UNIQUE INDEX sticky_notes_pkey ON public.sticky_notes USING btree (id);

CREATE UNIQUE INDEX user_activity_pkey ON public.user_activity USING btree (id);

CREATE UNIQUE INDEX user_point_streak_pkey ON public.user_point_streak USING btree (user_id);

CREATE UNIQUE INDEX user_points_pkey ON public.user_points USING btree (user_id);

CREATE UNIQUE INDEX user_preferences_pkey ON public.user_preferences USING btree (user_id);

CREATE UNIQUE INDEX user_preferences_username_key ON public.user_preferences USING btree (username);

alter table "public"."ai_conversations" add constraint "ai_conversations_pkey" PRIMARY KEY using index "ai_conversations_pkey";

alter table "public"."article_categories" add constraint "article_categories_pkey" PRIMARY KEY using index "article_categories_pkey";

alter table "public"."blog_articles" add constraint "blog_articles_pkey" PRIMARY KEY using index "blog_articles_pkey";

alter table "public"."blog_categories" add constraint "blog_categories_pkey" PRIMARY KEY using index "blog_categories_pkey";

alter table "public"."book_notes" add constraint "book_notes_pkey" PRIMARY KEY using index "book_notes_pkey";

alter table "public"."books" add constraint "books_pkey" PRIMARY KEY using index "books_pkey";

alter table "public"."books_like" add constraint "books_like_pkey" PRIMARY KEY using index "books_like_pkey";

alter table "public"."friends" add constraint "friends_pkey" PRIMARY KEY using index "friends_pkey";

alter table "public"."habits" add constraint "habits_pkey" PRIMARY KEY using index "habits_pkey";

alter table "public"."indie_authors" add constraint "indie_authors_pkey" PRIMARY KEY using index "indie_authors_pkey";

alter table "public"."indie_authors_books" add constraint "indie_authors_books_pkey" PRIMARY KEY using index "indie_authors_books_pkey";

alter table "public"."indie_authors_books_links" add constraint "indie_authors_books_links_pkey" PRIMARY KEY using index "indie_authors_books_links_pkey";

alter table "public"."indie_authors_social" add constraint "indie_authors_social_pkey" PRIMARY KEY using index "indie_authors_social_pkey";

alter table "public"."libraries" add constraint "libraries_pkey" PRIMARY KEY using index "libraries_pkey";

alter table "public"."point_transactions" add constraint "point_transactions_pkey" PRIMARY KEY using index "point_transactions_pkey";

alter table "public"."profiles" add constraint "profiles_pkey" PRIMARY KEY using index "profiles_pkey";

alter table "public"."quotes" add constraint "quotes_pkey" PRIMARY KEY using index "quotes_pkey";

alter table "public"."reading_list" add constraint "reading_list_pkey" PRIMARY KEY using index "reading_list_pkey";

alter table "public"."reading_stats" add constraint "reading_stats_pkey" PRIMARY KEY using index "reading_stats_pkey";

alter table "public"."referrals" add constraint "referrals_pkey" PRIMARY KEY using index "referrals_pkey";

alter table "public"."sticky_notes" add constraint "sticky_notes_pkey" PRIMARY KEY using index "sticky_notes_pkey";

alter table "public"."user_activity" add constraint "user_activity_pkey" PRIMARY KEY using index "user_activity_pkey";

alter table "public"."user_point_streak" add constraint "user_point_streak_pkey" PRIMARY KEY using index "user_point_streak_pkey";

alter table "public"."user_points" add constraint "user_points_pkey" PRIMARY KEY using index "user_points_pkey";

alter table "public"."user_preferences" add constraint "user_preferences_pkey" PRIMARY KEY using index "user_preferences_pkey";

alter table "public"."article_categories" add constraint "article_categories_article_id_fkey" FOREIGN KEY (article_id) REFERENCES blog_articles(id) not valid;

alter table "public"."article_categories" validate constraint "article_categories_article_id_fkey";

alter table "public"."article_categories" add constraint "article_categories_category_id_fkey" FOREIGN KEY (category_id) REFERENCES blog_categories(id) not valid;

alter table "public"."article_categories" validate constraint "article_categories_category_id_fkey";

alter table "public"."blog_articles" add constraint "blog_articles_slug_key" UNIQUE using index "blog_articles_slug_key";

alter table "public"."blog_categories" add constraint "blog_categories_name_key" UNIQUE using index "blog_categories_name_key";

alter table "public"."blog_categories" add constraint "blog_categories_slug_key" UNIQUE using index "blog_categories_slug_key";

alter table "public"."book_notes" add constraint "book_notes_user_id_book_id_key" UNIQUE using index "book_notes_user_id_book_id_key";

alter table "public"."book_notes" add constraint "book_notes_user_id_fkey" FOREIGN KEY (user_id) REFERENCES auth.users(id) ON UPDATE CASCADE ON DELETE CASCADE not valid;

alter table "public"."book_notes" validate constraint "book_notes_user_id_fkey";

alter table "public"."books" add constraint "books_isbn_13_key" UNIQUE using index "books_isbn_13_key";

alter table "public"."books_like" add constraint "books_like_id_fkey" FOREIGN KEY (id) REFERENCES books(isbn_13) ON UPDATE CASCADE ON DELETE CASCADE not valid;

alter table "public"."books_like" validate constraint "books_like_id_fkey";

alter table "public"."friends" add constraint "friends_friend_id_fkey" FOREIGN KEY (friend_id) REFERENCES auth.users(id) not valid;

alter table "public"."friends" validate constraint "friends_friend_id_fkey";

alter table "public"."friends" add constraint "friends_status_check" CHECK (((status)::text = ANY (ARRAY[('pending'::character varying)::text, ('accepted'::character varying)::text, ('rejected'::character varying)::text]))) not valid;

alter table "public"."friends" validate constraint "friends_status_check";

alter table "public"."friends" add constraint "friends_user_id_fkey" FOREIGN KEY (user_id) REFERENCES auth.users(id) not valid;

alter table "public"."friends" validate constraint "friends_user_id_fkey";

alter table "public"."friends" add constraint "friends_user_id_friend_id_key" UNIQUE using index "friends_user_id_friend_id_key";

alter table "public"."habits" add constraint "habits_user_id_fkey" FOREIGN KEY (user_id) REFERENCES auth.users(id) ON UPDATE CASCADE ON DELETE CASCADE not valid;

alter table "public"."habits" validate constraint "habits_user_id_fkey";

alter table "public"."indie_authors" add constraint "indie_authors_author_id_fkey" FOREIGN KEY (author_id) REFERENCES auth.users(id) not valid;

alter table "public"."indie_authors" validate constraint "indie_authors_author_id_fkey";

alter table "public"."indie_authors" add constraint "indie_authors_author_id_fkey1" FOREIGN KEY (author_id) REFERENCES profiles(id) ON UPDATE CASCADE ON DELETE CASCADE not valid;

alter table "public"."indie_authors" validate constraint "indie_authors_author_id_fkey1";

alter table "public"."indie_authors_books" add constraint "fk_author_books" FOREIGN KEY (author_id) REFERENCES indie_authors(author_id) not valid;

alter table "public"."indie_authors_books" validate constraint "fk_author_books";

alter table "public"."indie_authors_books" add constraint "indie_authors_books_author_id_fkey" FOREIGN KEY (author_id) REFERENCES indie_authors(author_id) not valid;

alter table "public"."indie_authors_books" validate constraint "indie_authors_books_author_id_fkey";

alter table "public"."indie_authors_books_links" add constraint "indie_authors_books_links_book_id_fkey" FOREIGN KEY (book_id) REFERENCES indie_authors_books(book_id) ON UPDATE CASCADE ON DELETE CASCADE not valid;

alter table "public"."indie_authors_books_links" validate constraint "indie_authors_books_links_book_id_fkey";

alter table "public"."indie_authors_social" add constraint "fk_author_social" FOREIGN KEY (author_id) REFERENCES indie_authors(author_id) not valid;

alter table "public"."indie_authors_social" validate constraint "fk_author_social";

alter table "public"."indie_authors_social" add constraint "indie_authors_social_author_id_fkey" FOREIGN KEY (author_id) REFERENCES indie_authors(author_id) not valid;

alter table "public"."indie_authors_social" validate constraint "indie_authors_social_author_id_fkey";

alter table "public"."libraries" add constraint "libraries_display_name_key" UNIQUE using index "libraries_display_name_key";

alter table "public"."point_transactions" add constraint "point_transactions_type_check" CHECK (((type)::text = ANY (ARRAY[('earned'::character varying)::text, ('redeemed'::character varying)::text]))) not valid;

alter table "public"."point_transactions" validate constraint "point_transactions_type_check";

alter table "public"."point_transactions" add constraint "point_transactions_user_id_fkey" FOREIGN KEY (user_id) REFERENCES auth.users(id) not valid;

alter table "public"."point_transactions" validate constraint "point_transactions_user_id_fkey";

alter table "public"."profiles" add constraint "profiles_id_fkey" FOREIGN KEY (id) REFERENCES auth.users(id) ON DELETE CASCADE not valid;

alter table "public"."profiles" validate constraint "profiles_id_fkey";

alter table "public"."quotes" add constraint "quotes_text_key" UNIQUE using index "quotes_text_key";

alter table "public"."reading_list" add constraint "reading_list_status_check" CHECK ((status = ANY (ARRAY[('To Read'::character varying)::text, ('Reading'::character varying)::text, ('Finished'::character varying)::text, ('DNF'::character varying)::text]))) not valid;

alter table "public"."reading_list" validate constraint "reading_list_status_check";

alter table "public"."reading_list" add constraint "reading_list_user_book_unique" UNIQUE using index "reading_list_user_book_unique";

alter table "public"."reading_list" add constraint "reading_list_user_id_fkey" FOREIGN KEY (user_id) REFERENCES auth.users(id) ON UPDATE CASCADE ON DELETE CASCADE not valid;

alter table "public"."reading_list" validate constraint "reading_list_user_id_fkey";

alter table "public"."reading_stats" add constraint "reading_stats_user_id_fkey" FOREIGN KEY (user_id) REFERENCES auth.users(id) ON UPDATE CASCADE ON DELETE CASCADE not valid;

alter table "public"."reading_stats" validate constraint "reading_stats_user_id_fkey";

alter table "public"."referrals" add constraint "referrals_referrer_id_fkey" FOREIGN KEY (referrer_id) REFERENCES auth.users(id) ON UPDATE CASCADE ON DELETE CASCADE not valid;

alter table "public"."referrals" validate constraint "referrals_referrer_id_fkey";

alter table "public"."sticky_notes" add constraint "sticky_notes_user_id_fkey1" FOREIGN KEY (user_id) REFERENCES auth.users(id) ON UPDATE CASCADE ON DELETE CASCADE not valid;

alter table "public"."sticky_notes" validate constraint "sticky_notes_user_id_fkey1";

alter table "public"."user_activity" add constraint "user_activity_activity_type_check" CHECK (((activity_type)::text = ANY (ARRAY[('book_added'::character varying)::text, ('book_started'::character varying)::text, ('book_finished'::character varying)::text, ('points_earned'::character varying)::text]))) not valid;

alter table "public"."user_activity" validate constraint "user_activity_activity_type_check";

alter table "public"."user_activity" add constraint "user_activity_user_id_fkey" FOREIGN KEY (user_id) REFERENCES auth.users(id) not valid;

alter table "public"."user_activity" validate constraint "user_activity_user_id_fkey";

alter table "public"."user_point_streak" add constraint "user_point_streak_user_id_fkey" FOREIGN KEY (user_id) REFERENCES auth.users(id) ON UPDATE CASCADE ON DELETE CASCADE not valid;

alter table "public"."user_point_streak" validate constraint "user_point_streak_user_id_fkey";

alter table "public"."user_points" add constraint "user_points_user_id_fkey" FOREIGN KEY (user_id) REFERENCES auth.users(id) ON UPDATE CASCADE ON DELETE CASCADE not valid;

alter table "public"."user_points" validate constraint "user_points_user_id_fkey";

alter table "public"."user_preferences" add constraint "user_preferences_user_id_fkey" FOREIGN KEY (user_id) REFERENCES auth.users(id) ON UPDATE CASCADE ON DELETE CASCADE not valid;

alter table "public"."user_preferences" validate constraint "user_preferences_user_id_fkey";

alter table "public"."user_preferences" add constraint "user_preferences_username_key" UNIQUE using index "user_preferences_username_key";

set check_function_bodies = off;

CREATE OR REPLACE FUNCTION public.check_book_exists(p_isbn_13 text)
 RETURNS jsonb
 LANGUAGE plpgsql
AS $function$
DECLARE
    v_result JSONB;
BEGIN
    SELECT data INTO v_result
    FROM public.books
    WHERE isbn_13 = p_isbn_13;

    IF v_result IS NULL THEN
        RETURN '[]'::JSONB;
    ELSE
        RETURN v_result;
    END IF;
END;
$function$
;

CREATE OR REPLACE FUNCTION public.check_inactive_users(days integer)
 RETURNS SETOF auth.users
 LANGUAGE plpgsql
AS $function$
BEGIN
    RETURN QUERY
    SELECT *
    FROM auth.users
    WHERE created_at <= now() - INTERVAL '1 day' * days
    AND (last_sign_in_at IS NULL OR last_sign_in_at <= now() - INTERVAL '1 day' * days);
END;
$function$
;

CREATE OR REPLACE FUNCTION public.get_basic_article_info(p_slug character varying)
 RETURNS TABLE(id integer, slug character varying, title character varying, description text, isbn13 character varying, image_url text, image_alt text, published_at timestamp with time zone)
 LANGUAGE plpgsql
AS $function$
BEGIN
    RETURN QUERY
    SELECT 
        a.id, a.slug, a.title, a.description, a.isbn13, 
        a.image_url, a.image_alt, a.published_at
    FROM public.blog_articles a
    WHERE a.slug = p_slug;
END;
$function$
;

CREATE OR REPLACE FUNCTION public.get_full_article_content(p_slug character varying)
 RETURNS TABLE(id integer, content text)
 LANGUAGE plpgsql
AS $function$
BEGIN
    RETURN QUERY
    SELECT a.id, a.content
    FROM public.blog_articles a
    WHERE a.slug = p_slug;
END;
$function$
;

CREATE OR REPLACE FUNCTION public.get_user_metadata(user_id uuid)
 RETURNS json
 LANGUAGE plpgsql
 SECURITY DEFINER
 SET search_path TO 'public', 'auth'
AS $function$
DECLARE
    user_meta JSON;
BEGIN
    SELECT json_build_object(
        'id', u.id,
        'email', u.email,
        'phone', u.phone,
        'role', u.role,
        'last_sign_in_at', u.last_sign_in_at,
        'created_at', u.created_at,
        'updated_at', u.updated_at,
        'confirmed_at', u.confirmed_at,
        'is_super_admin', u.is_super_admin,
        'is_sso_user', u.is_sso_user,
        'is_anonymous', u.is_anonymous,
        'raw_app_meta_data', u.raw_app_meta_data,
        'raw_user_meta_data', u.raw_user_meta_data
    ) INTO user_meta
    FROM auth.users u
    WHERE u.id = user_id;

    IF user_meta IS NULL THEN
        RETURN json_build_object('error', 'User not found');
    END IF;

    RETURN user_meta;
END;
$function$
;

CREATE OR REPLACE FUNCTION public.handle_new_user()
 RETURNS trigger
 LANGUAGE plpgsql
 SECURITY DEFINER
AS $function$
BEGIN
  INSERT INTO public.profiles (id, email, created_at, last_sign_in_at, raw_app_meta_data, raw_user_meta_data)
  VALUES (NEW.id, NEW.email, NEW.created_at, NEW.updated_at, NEW.raw_app_meta_data, NEW.raw_user_meta_data);
  
  INSERT INTO public.user_preferences (user_id)
  VALUES (NEW.id);
  INSERT INTO public.user_points (user_id)
  VALUES (NEW.id);
  INSERT INTO public.user_point_streak (user_id)
  VALUES (NEW.id);
  INSERT INTO public.reading_stats (user_id)
  VALUES (NEW.id);
  RETURN NEW;
END;
$function$
;

CREATE OR REPLACE FUNCTION public.increment(inc double precision, userid uuid)
 RETURNS void
 LANGUAGE sql
AS $function$
  update user_points 
  set points_earned_referrals = points_earned_referrals + inc
  where user_id = userid
$function$
;

CREATE OR REPLACE FUNCTION public.increment_points_earned(_user_id uuid, _points_to_add integer)
 RETURNS void
 LANGUAGE plpgsql
AS $function$
BEGIN
    UPDATE public.user_points
    SET points_earned = points_earned + _points_to_add
    WHERE user_id = _user_id;
END;
$function$
;

CREATE OR REPLACE FUNCTION public.return_books_with_no_article()
 RETURNS TABLE(isbn_13 text, data jsonb)
 LANGUAGE plpgsql
AS $function$
BEGIN
    RETURN QUERY 
        SELECT b.isbn_13, b.data
        FROM books b 
        LEFT JOIN blog_articles ba 
        ON b.isbn_13 = ba.isbn_13
        WHERE ba.isbn_13 IS NULL;
END;
$function$
;

CREATE OR REPLACE FUNCTION public.update_modified_column()
 RETURNS trigger
 LANGUAGE plpgsql
AS $function$
BEGIN
    NEW.updated_at = now();
    RETURN NEW;
END;
$function$
;

CREATE OR REPLACE FUNCTION public.update_reading_stats(p_user_id uuid, p_books_read integer, p_pages_read integer, p_reading_time_minutes integer)
 RETURNS void
 LANGUAGE plpgsql
AS $function$
BEGIN
    INSERT INTO public.reading_stats (user_id, books_read, pages_read, reading_time_minutes)
    VALUES (p_user_id, p_books_read, p_pages_read, p_reading_time_minutes)
    ON CONFLICT (user_id)
    DO UPDATE SET
        books_read = public.reading_stats.books_read + p_books_read,
        pages_read = public.reading_stats.pages_read + p_pages_read,
        reading_time_minutes = public.reading_stats.reading_time_minutes + p_reading_time_minutes;
END;
$function$
;

CREATE OR REPLACE FUNCTION public.update_timestamp_based_on_status()
 RETURNS trigger
 LANGUAGE plpgsql
AS $function$
BEGIN
    IF NEW.status = 'To Read' THEN
        NEW.toread_at := NOW();
    ELSIF NEW.status = 'Reading' THEN
        NEW.reading_at := NOW();
    ELSIF NEW.status = 'Finished' THEN
        NEW.finished_at := NOW();
    END IF;
    RETURN NEW;
END;
$function$
;

CREATE OR REPLACE FUNCTION public.update_user_points()
 RETURNS trigger
 LANGUAGE plpgsql
AS $function$
BEGIN
    IF NEW.type = 'earned' THEN
        INSERT INTO user_points (user_id, points, points_earned)
        VALUES (NEW.user_id, NEW.points, NEW.points)
        ON CONFLICT (user_id) DO UPDATE
        SET points = user_points.points + NEW.points,
            points_earned = user_points.points_earned + NEW.points;
    ELSIF NEW.type = 'redeemed' THEN
        INSERT INTO user_points (user_id, points, points_redeemed)
        VALUES (NEW.user_id, -NEW.points, NEW.points)
        ON CONFLICT (user_id) DO UPDATE
        SET points = user_points.points - NEW.points,
            points_redeemed = user_points.points_redeemed + NEW.points;
    END IF;
    RETURN NEW;
END;
$function$
;

grant delete on table "public"."ai_conversations" to "anon";

grant insert on table "public"."ai_conversations" to "anon";

grant references on table "public"."ai_conversations" to "anon";

grant select on table "public"."ai_conversations" to "anon";

grant trigger on table "public"."ai_conversations" to "anon";

grant truncate on table "public"."ai_conversations" to "anon";

grant update on table "public"."ai_conversations" to "anon";

grant delete on table "public"."ai_conversations" to "authenticated";

grant insert on table "public"."ai_conversations" to "authenticated";

grant references on table "public"."ai_conversations" to "authenticated";

grant select on table "public"."ai_conversations" to "authenticated";

grant trigger on table "public"."ai_conversations" to "authenticated";

grant truncate on table "public"."ai_conversations" to "authenticated";

grant update on table "public"."ai_conversations" to "authenticated";

grant delete on table "public"."ai_conversations" to "postgres";

grant insert on table "public"."ai_conversations" to "postgres";

grant references on table "public"."ai_conversations" to "postgres";

grant select on table "public"."ai_conversations" to "postgres";

grant trigger on table "public"."ai_conversations" to "postgres";

grant truncate on table "public"."ai_conversations" to "postgres";

grant update on table "public"."ai_conversations" to "postgres";

grant delete on table "public"."ai_conversations" to "service_role";

grant insert on table "public"."ai_conversations" to "service_role";

grant references on table "public"."ai_conversations" to "service_role";

grant select on table "public"."ai_conversations" to "service_role";

grant trigger on table "public"."ai_conversations" to "service_role";

grant truncate on table "public"."ai_conversations" to "service_role";

grant update on table "public"."ai_conversations" to "service_role";

grant delete on table "public"."article_categories" to "anon";

grant insert on table "public"."article_categories" to "anon";

grant references on table "public"."article_categories" to "anon";

grant select on table "public"."article_categories" to "anon";

grant trigger on table "public"."article_categories" to "anon";

grant truncate on table "public"."article_categories" to "anon";

grant update on table "public"."article_categories" to "anon";

grant delete on table "public"."article_categories" to "authenticated";

grant insert on table "public"."article_categories" to "authenticated";

grant references on table "public"."article_categories" to "authenticated";

grant select on table "public"."article_categories" to "authenticated";

grant trigger on table "public"."article_categories" to "authenticated";

grant truncate on table "public"."article_categories" to "authenticated";

grant update on table "public"."article_categories" to "authenticated";

grant delete on table "public"."article_categories" to "service_role";

grant insert on table "public"."article_categories" to "service_role";

grant references on table "public"."article_categories" to "service_role";

grant select on table "public"."article_categories" to "service_role";

grant trigger on table "public"."article_categories" to "service_role";

grant truncate on table "public"."article_categories" to "service_role";

grant update on table "public"."article_categories" to "service_role";

grant trigger on table "public"."article_categories" to "supabase_admin";

grant delete on table "public"."blog_articles" to "anon";

grant insert on table "public"."blog_articles" to "anon";

grant references on table "public"."blog_articles" to "anon";

grant select on table "public"."blog_articles" to "anon";

grant trigger on table "public"."blog_articles" to "anon";

grant truncate on table "public"."blog_articles" to "anon";

grant update on table "public"."blog_articles" to "anon";

grant delete on table "public"."blog_articles" to "authenticated";

grant insert on table "public"."blog_articles" to "authenticated";

grant references on table "public"."blog_articles" to "authenticated";

grant select on table "public"."blog_articles" to "authenticated";

grant trigger on table "public"."blog_articles" to "authenticated";

grant truncate on table "public"."blog_articles" to "authenticated";

grant update on table "public"."blog_articles" to "authenticated";

grant delete on table "public"."blog_articles" to "service_role";

grant insert on table "public"."blog_articles" to "service_role";

grant references on table "public"."blog_articles" to "service_role";

grant select on table "public"."blog_articles" to "service_role";

grant trigger on table "public"."blog_articles" to "service_role";

grant truncate on table "public"."blog_articles" to "service_role";

grant update on table "public"."blog_articles" to "service_role";

grant trigger on table "public"."blog_articles" to "supabase_admin";

grant delete on table "public"."blog_categories" to "anon";

grant insert on table "public"."blog_categories" to "anon";

grant references on table "public"."blog_categories" to "anon";

grant select on table "public"."blog_categories" to "anon";

grant trigger on table "public"."blog_categories" to "anon";

grant truncate on table "public"."blog_categories" to "anon";

grant update on table "public"."blog_categories" to "anon";

grant delete on table "public"."blog_categories" to "authenticated";

grant insert on table "public"."blog_categories" to "authenticated";

grant references on table "public"."blog_categories" to "authenticated";

grant select on table "public"."blog_categories" to "authenticated";

grant trigger on table "public"."blog_categories" to "authenticated";

grant truncate on table "public"."blog_categories" to "authenticated";

grant update on table "public"."blog_categories" to "authenticated";

grant delete on table "public"."blog_categories" to "service_role";

grant insert on table "public"."blog_categories" to "service_role";

grant references on table "public"."blog_categories" to "service_role";

grant select on table "public"."blog_categories" to "service_role";

grant trigger on table "public"."blog_categories" to "service_role";

grant truncate on table "public"."blog_categories" to "service_role";

grant update on table "public"."blog_categories" to "service_role";

grant trigger on table "public"."blog_categories" to "supabase_admin";

grant delete on table "public"."book_notes" to "anon";

grant insert on table "public"."book_notes" to "anon";

grant references on table "public"."book_notes" to "anon";

grant select on table "public"."book_notes" to "anon";

grant trigger on table "public"."book_notes" to "anon";

grant truncate on table "public"."book_notes" to "anon";

grant update on table "public"."book_notes" to "anon";

grant delete on table "public"."book_notes" to "authenticated";

grant insert on table "public"."book_notes" to "authenticated";

grant references on table "public"."book_notes" to "authenticated";

grant select on table "public"."book_notes" to "authenticated";

grant trigger on table "public"."book_notes" to "authenticated";

grant truncate on table "public"."book_notes" to "authenticated";

grant update on table "public"."book_notes" to "authenticated";

grant delete on table "public"."book_notes" to "service_role";

grant insert on table "public"."book_notes" to "service_role";

grant references on table "public"."book_notes" to "service_role";

grant select on table "public"."book_notes" to "service_role";

grant trigger on table "public"."book_notes" to "service_role";

grant truncate on table "public"."book_notes" to "service_role";

grant update on table "public"."book_notes" to "service_role";

grant trigger on table "public"."book_notes" to "supabase_admin";

grant delete on table "public"."books" to "anon";

grant insert on table "public"."books" to "anon";

grant references on table "public"."books" to "anon";

grant select on table "public"."books" to "anon";

grant trigger on table "public"."books" to "anon";

grant truncate on table "public"."books" to "anon";

grant update on table "public"."books" to "anon";

grant delete on table "public"."books" to "authenticated";

grant insert on table "public"."books" to "authenticated";

grant references on table "public"."books" to "authenticated";

grant select on table "public"."books" to "authenticated";

grant trigger on table "public"."books" to "authenticated";

grant truncate on table "public"."books" to "authenticated";

grant update on table "public"."books" to "authenticated";

grant delete on table "public"."books" to "service_role";

grant insert on table "public"."books" to "service_role";

grant references on table "public"."books" to "service_role";

grant select on table "public"."books" to "service_role";

grant trigger on table "public"."books" to "service_role";

grant truncate on table "public"."books" to "service_role";

grant update on table "public"."books" to "service_role";

grant trigger on table "public"."books" to "supabase_admin";

grant delete on table "public"."books_like" to "anon";

grant insert on table "public"."books_like" to "anon";

grant references on table "public"."books_like" to "anon";

grant select on table "public"."books_like" to "anon";

grant trigger on table "public"."books_like" to "anon";

grant truncate on table "public"."books_like" to "anon";

grant update on table "public"."books_like" to "anon";

grant delete on table "public"."books_like" to "authenticated";

grant insert on table "public"."books_like" to "authenticated";

grant references on table "public"."books_like" to "authenticated";

grant select on table "public"."books_like" to "authenticated";

grant trigger on table "public"."books_like" to "authenticated";

grant truncate on table "public"."books_like" to "authenticated";

grant update on table "public"."books_like" to "authenticated";

grant delete on table "public"."books_like" to "service_role";

grant insert on table "public"."books_like" to "service_role";

grant references on table "public"."books_like" to "service_role";

grant select on table "public"."books_like" to "service_role";

grant trigger on table "public"."books_like" to "service_role";

grant truncate on table "public"."books_like" to "service_role";

grant update on table "public"."books_like" to "service_role";

grant trigger on table "public"."books_like" to "supabase_admin";

grant delete on table "public"."friends" to "anon";

grant insert on table "public"."friends" to "anon";

grant references on table "public"."friends" to "anon";

grant select on table "public"."friends" to "anon";

grant trigger on table "public"."friends" to "anon";

grant truncate on table "public"."friends" to "anon";

grant update on table "public"."friends" to "anon";

grant delete on table "public"."friends" to "authenticated";

grant insert on table "public"."friends" to "authenticated";

grant references on table "public"."friends" to "authenticated";

grant select on table "public"."friends" to "authenticated";

grant trigger on table "public"."friends" to "authenticated";

grant truncate on table "public"."friends" to "authenticated";

grant update on table "public"."friends" to "authenticated";

grant delete on table "public"."friends" to "service_role";

grant insert on table "public"."friends" to "service_role";

grant references on table "public"."friends" to "service_role";

grant select on table "public"."friends" to "service_role";

grant trigger on table "public"."friends" to "service_role";

grant truncate on table "public"."friends" to "service_role";

grant update on table "public"."friends" to "service_role";

grant trigger on table "public"."friends" to "supabase_admin";

grant delete on table "public"."habits" to "anon";

grant insert on table "public"."habits" to "anon";

grant references on table "public"."habits" to "anon";

grant select on table "public"."habits" to "anon";

grant trigger on table "public"."habits" to "anon";

grant truncate on table "public"."habits" to "anon";

grant update on table "public"."habits" to "anon";

grant delete on table "public"."habits" to "authenticated";

grant insert on table "public"."habits" to "authenticated";

grant references on table "public"."habits" to "authenticated";

grant select on table "public"."habits" to "authenticated";

grant trigger on table "public"."habits" to "authenticated";

grant truncate on table "public"."habits" to "authenticated";

grant update on table "public"."habits" to "authenticated";

grant delete on table "public"."habits" to "postgres";

grant insert on table "public"."habits" to "postgres";

grant references on table "public"."habits" to "postgres";

grant select on table "public"."habits" to "postgres";

grant trigger on table "public"."habits" to "postgres";

grant truncate on table "public"."habits" to "postgres";

grant update on table "public"."habits" to "postgres";

grant delete on table "public"."habits" to "service_role";

grant insert on table "public"."habits" to "service_role";

grant references on table "public"."habits" to "service_role";

grant select on table "public"."habits" to "service_role";

grant trigger on table "public"."habits" to "service_role";

grant truncate on table "public"."habits" to "service_role";

grant update on table "public"."habits" to "service_role";

grant delete on table "public"."indie_authors" to "anon";

grant insert on table "public"."indie_authors" to "anon";

grant references on table "public"."indie_authors" to "anon";

grant select on table "public"."indie_authors" to "anon";

grant trigger on table "public"."indie_authors" to "anon";

grant truncate on table "public"."indie_authors" to "anon";

grant update on table "public"."indie_authors" to "anon";

grant delete on table "public"."indie_authors" to "authenticated";

grant insert on table "public"."indie_authors" to "authenticated";

grant references on table "public"."indie_authors" to "authenticated";

grant select on table "public"."indie_authors" to "authenticated";

grant trigger on table "public"."indie_authors" to "authenticated";

grant truncate on table "public"."indie_authors" to "authenticated";

grant update on table "public"."indie_authors" to "authenticated";

grant delete on table "public"."indie_authors" to "postgres";

grant insert on table "public"."indie_authors" to "postgres";

grant references on table "public"."indie_authors" to "postgres";

grant select on table "public"."indie_authors" to "postgres";

grant trigger on table "public"."indie_authors" to "postgres";

grant truncate on table "public"."indie_authors" to "postgres";

grant update on table "public"."indie_authors" to "postgres";

grant delete on table "public"."indie_authors" to "service_role";

grant insert on table "public"."indie_authors" to "service_role";

grant references on table "public"."indie_authors" to "service_role";

grant select on table "public"."indie_authors" to "service_role";

grant trigger on table "public"."indie_authors" to "service_role";

grant truncate on table "public"."indie_authors" to "service_role";

grant update on table "public"."indie_authors" to "service_role";

grant delete on table "public"."indie_authors_books" to "anon";

grant insert on table "public"."indie_authors_books" to "anon";

grant references on table "public"."indie_authors_books" to "anon";

grant select on table "public"."indie_authors_books" to "anon";

grant trigger on table "public"."indie_authors_books" to "anon";

grant truncate on table "public"."indie_authors_books" to "anon";

grant update on table "public"."indie_authors_books" to "anon";

grant delete on table "public"."indie_authors_books" to "authenticated";

grant insert on table "public"."indie_authors_books" to "authenticated";

grant references on table "public"."indie_authors_books" to "authenticated";

grant select on table "public"."indie_authors_books" to "authenticated";

grant trigger on table "public"."indie_authors_books" to "authenticated";

grant truncate on table "public"."indie_authors_books" to "authenticated";

grant update on table "public"."indie_authors_books" to "authenticated";

grant delete on table "public"."indie_authors_books" to "postgres";

grant insert on table "public"."indie_authors_books" to "postgres";

grant references on table "public"."indie_authors_books" to "postgres";

grant select on table "public"."indie_authors_books" to "postgres";

grant trigger on table "public"."indie_authors_books" to "postgres";

grant truncate on table "public"."indie_authors_books" to "postgres";

grant update on table "public"."indie_authors_books" to "postgres";

grant delete on table "public"."indie_authors_books" to "service_role";

grant insert on table "public"."indie_authors_books" to "service_role";

grant references on table "public"."indie_authors_books" to "service_role";

grant select on table "public"."indie_authors_books" to "service_role";

grant trigger on table "public"."indie_authors_books" to "service_role";

grant truncate on table "public"."indie_authors_books" to "service_role";

grant update on table "public"."indie_authors_books" to "service_role";

grant delete on table "public"."indie_authors_books_links" to "anon";

grant insert on table "public"."indie_authors_books_links" to "anon";

grant references on table "public"."indie_authors_books_links" to "anon";

grant select on table "public"."indie_authors_books_links" to "anon";

grant trigger on table "public"."indie_authors_books_links" to "anon";

grant truncate on table "public"."indie_authors_books_links" to "anon";

grant update on table "public"."indie_authors_books_links" to "anon";

grant delete on table "public"."indie_authors_books_links" to "authenticated";

grant insert on table "public"."indie_authors_books_links" to "authenticated";

grant references on table "public"."indie_authors_books_links" to "authenticated";

grant select on table "public"."indie_authors_books_links" to "authenticated";

grant trigger on table "public"."indie_authors_books_links" to "authenticated";

grant truncate on table "public"."indie_authors_books_links" to "authenticated";

grant update on table "public"."indie_authors_books_links" to "authenticated";

grant delete on table "public"."indie_authors_books_links" to "postgres";

grant insert on table "public"."indie_authors_books_links" to "postgres";

grant references on table "public"."indie_authors_books_links" to "postgres";

grant select on table "public"."indie_authors_books_links" to "postgres";

grant trigger on table "public"."indie_authors_books_links" to "postgres";

grant truncate on table "public"."indie_authors_books_links" to "postgres";

grant update on table "public"."indie_authors_books_links" to "postgres";

grant delete on table "public"."indie_authors_books_links" to "service_role";

grant insert on table "public"."indie_authors_books_links" to "service_role";

grant references on table "public"."indie_authors_books_links" to "service_role";

grant select on table "public"."indie_authors_books_links" to "service_role";

grant trigger on table "public"."indie_authors_books_links" to "service_role";

grant truncate on table "public"."indie_authors_books_links" to "service_role";

grant update on table "public"."indie_authors_books_links" to "service_role";

grant delete on table "public"."indie_authors_social" to "anon";

grant insert on table "public"."indie_authors_social" to "anon";

grant references on table "public"."indie_authors_social" to "anon";

grant select on table "public"."indie_authors_social" to "anon";

grant trigger on table "public"."indie_authors_social" to "anon";

grant truncate on table "public"."indie_authors_social" to "anon";

grant update on table "public"."indie_authors_social" to "anon";

grant delete on table "public"."indie_authors_social" to "authenticated";

grant insert on table "public"."indie_authors_social" to "authenticated";

grant references on table "public"."indie_authors_social" to "authenticated";

grant select on table "public"."indie_authors_social" to "authenticated";

grant trigger on table "public"."indie_authors_social" to "authenticated";

grant truncate on table "public"."indie_authors_social" to "authenticated";

grant update on table "public"."indie_authors_social" to "authenticated";

grant delete on table "public"."indie_authors_social" to "postgres";

grant insert on table "public"."indie_authors_social" to "postgres";

grant references on table "public"."indie_authors_social" to "postgres";

grant select on table "public"."indie_authors_social" to "postgres";

grant trigger on table "public"."indie_authors_social" to "postgres";

grant truncate on table "public"."indie_authors_social" to "postgres";

grant update on table "public"."indie_authors_social" to "postgres";

grant delete on table "public"."indie_authors_social" to "service_role";

grant insert on table "public"."indie_authors_social" to "service_role";

grant references on table "public"."indie_authors_social" to "service_role";

grant select on table "public"."indie_authors_social" to "service_role";

grant trigger on table "public"."indie_authors_social" to "service_role";

grant truncate on table "public"."indie_authors_social" to "service_role";

grant update on table "public"."indie_authors_social" to "service_role";

grant delete on table "public"."libraries" to "anon";

grant insert on table "public"."libraries" to "anon";

grant references on table "public"."libraries" to "anon";

grant select on table "public"."libraries" to "anon";

grant trigger on table "public"."libraries" to "anon";

grant truncate on table "public"."libraries" to "anon";

grant update on table "public"."libraries" to "anon";

grant delete on table "public"."libraries" to "authenticated";

grant insert on table "public"."libraries" to "authenticated";

grant references on table "public"."libraries" to "authenticated";

grant select on table "public"."libraries" to "authenticated";

grant trigger on table "public"."libraries" to "authenticated";

grant truncate on table "public"."libraries" to "authenticated";

grant update on table "public"."libraries" to "authenticated";

grant delete on table "public"."libraries" to "service_role";

grant insert on table "public"."libraries" to "service_role";

grant references on table "public"."libraries" to "service_role";

grant select on table "public"."libraries" to "service_role";

grant trigger on table "public"."libraries" to "service_role";

grant truncate on table "public"."libraries" to "service_role";

grant update on table "public"."libraries" to "service_role";

grant trigger on table "public"."libraries" to "supabase_admin";

grant delete on table "public"."point_transactions" to "anon";

grant insert on table "public"."point_transactions" to "anon";

grant references on table "public"."point_transactions" to "anon";

grant select on table "public"."point_transactions" to "anon";

grant trigger on table "public"."point_transactions" to "anon";

grant truncate on table "public"."point_transactions" to "anon";

grant update on table "public"."point_transactions" to "anon";

grant delete on table "public"."point_transactions" to "authenticated";

grant insert on table "public"."point_transactions" to "authenticated";

grant references on table "public"."point_transactions" to "authenticated";

grant select on table "public"."point_transactions" to "authenticated";

grant trigger on table "public"."point_transactions" to "authenticated";

grant truncate on table "public"."point_transactions" to "authenticated";

grant update on table "public"."point_transactions" to "authenticated";

grant delete on table "public"."point_transactions" to "service_role";

grant insert on table "public"."point_transactions" to "service_role";

grant references on table "public"."point_transactions" to "service_role";

grant select on table "public"."point_transactions" to "service_role";

grant trigger on table "public"."point_transactions" to "service_role";

grant truncate on table "public"."point_transactions" to "service_role";

grant update on table "public"."point_transactions" to "service_role";

grant trigger on table "public"."point_transactions" to "supabase_admin";

grant delete on table "public"."profiles" to "anon";

grant insert on table "public"."profiles" to "anon";

grant references on table "public"."profiles" to "anon";

grant select on table "public"."profiles" to "anon";

grant trigger on table "public"."profiles" to "anon";

grant truncate on table "public"."profiles" to "anon";

grant update on table "public"."profiles" to "anon";

grant delete on table "public"."profiles" to "authenticated";

grant insert on table "public"."profiles" to "authenticated";

grant references on table "public"."profiles" to "authenticated";

grant select on table "public"."profiles" to "authenticated";

grant trigger on table "public"."profiles" to "authenticated";

grant truncate on table "public"."profiles" to "authenticated";

grant update on table "public"."profiles" to "authenticated";

grant delete on table "public"."profiles" to "postgres";

grant insert on table "public"."profiles" to "postgres";

grant references on table "public"."profiles" to "postgres";

grant select on table "public"."profiles" to "postgres";

grant trigger on table "public"."profiles" to "postgres";

grant truncate on table "public"."profiles" to "postgres";

grant update on table "public"."profiles" to "postgres";

grant delete on table "public"."profiles" to "service_role";

grant insert on table "public"."profiles" to "service_role";

grant references on table "public"."profiles" to "service_role";

grant select on table "public"."profiles" to "service_role";

grant trigger on table "public"."profiles" to "service_role";

grant truncate on table "public"."profiles" to "service_role";

grant update on table "public"."profiles" to "service_role";

grant delete on table "public"."quotes" to "anon";

grant insert on table "public"."quotes" to "anon";

grant references on table "public"."quotes" to "anon";

grant select on table "public"."quotes" to "anon";

grant trigger on table "public"."quotes" to "anon";

grant truncate on table "public"."quotes" to "anon";

grant update on table "public"."quotes" to "anon";

grant delete on table "public"."quotes" to "authenticated";

grant insert on table "public"."quotes" to "authenticated";

grant references on table "public"."quotes" to "authenticated";

grant select on table "public"."quotes" to "authenticated";

grant trigger on table "public"."quotes" to "authenticated";

grant truncate on table "public"."quotes" to "authenticated";

grant update on table "public"."quotes" to "authenticated";

grant delete on table "public"."quotes" to "postgres";

grant insert on table "public"."quotes" to "postgres";

grant references on table "public"."quotes" to "postgres";

grant select on table "public"."quotes" to "postgres";

grant trigger on table "public"."quotes" to "postgres";

grant truncate on table "public"."quotes" to "postgres";

grant update on table "public"."quotes" to "postgres";

grant delete on table "public"."quotes" to "service_role";

grant insert on table "public"."quotes" to "service_role";

grant references on table "public"."quotes" to "service_role";

grant select on table "public"."quotes" to "service_role";

grant trigger on table "public"."quotes" to "service_role";

grant truncate on table "public"."quotes" to "service_role";

grant update on table "public"."quotes" to "service_role";

grant delete on table "public"."reading_list" to "anon";

grant insert on table "public"."reading_list" to "anon";

grant references on table "public"."reading_list" to "anon";

grant select on table "public"."reading_list" to "anon";

grant trigger on table "public"."reading_list" to "anon";

grant truncate on table "public"."reading_list" to "anon";

grant update on table "public"."reading_list" to "anon";

grant delete on table "public"."reading_list" to "authenticated";

grant insert on table "public"."reading_list" to "authenticated";

grant references on table "public"."reading_list" to "authenticated";

grant select on table "public"."reading_list" to "authenticated";

grant trigger on table "public"."reading_list" to "authenticated";

grant truncate on table "public"."reading_list" to "authenticated";

grant update on table "public"."reading_list" to "authenticated";

grant delete on table "public"."reading_list" to "service_role";

grant insert on table "public"."reading_list" to "service_role";

grant references on table "public"."reading_list" to "service_role";

grant select on table "public"."reading_list" to "service_role";

grant trigger on table "public"."reading_list" to "service_role";

grant truncate on table "public"."reading_list" to "service_role";

grant update on table "public"."reading_list" to "service_role";

grant trigger on table "public"."reading_list" to "supabase_admin";

grant delete on table "public"."reading_stats" to "anon";

grant insert on table "public"."reading_stats" to "anon";

grant references on table "public"."reading_stats" to "anon";

grant select on table "public"."reading_stats" to "anon";

grant trigger on table "public"."reading_stats" to "anon";

grant truncate on table "public"."reading_stats" to "anon";

grant update on table "public"."reading_stats" to "anon";

grant delete on table "public"."reading_stats" to "authenticated";

grant insert on table "public"."reading_stats" to "authenticated";

grant references on table "public"."reading_stats" to "authenticated";

grant select on table "public"."reading_stats" to "authenticated";

grant trigger on table "public"."reading_stats" to "authenticated";

grant truncate on table "public"."reading_stats" to "authenticated";

grant update on table "public"."reading_stats" to "authenticated";

grant delete on table "public"."reading_stats" to "service_role";

grant insert on table "public"."reading_stats" to "service_role";

grant references on table "public"."reading_stats" to "service_role";

grant select on table "public"."reading_stats" to "service_role";

grant trigger on table "public"."reading_stats" to "service_role";

grant truncate on table "public"."reading_stats" to "service_role";

grant update on table "public"."reading_stats" to "service_role";

grant delete on table "public"."reading_stats" to "supabase_admin";

grant insert on table "public"."reading_stats" to "supabase_admin";

grant references on table "public"."reading_stats" to "supabase_admin";

grant select on table "public"."reading_stats" to "supabase_admin";

grant trigger on table "public"."reading_stats" to "supabase_admin";

grant truncate on table "public"."reading_stats" to "supabase_admin";

grant update on table "public"."reading_stats" to "supabase_admin";

grant delete on table "public"."referrals" to "anon";

grant insert on table "public"."referrals" to "anon";

grant references on table "public"."referrals" to "anon";

grant select on table "public"."referrals" to "anon";

grant trigger on table "public"."referrals" to "anon";

grant truncate on table "public"."referrals" to "anon";

grant update on table "public"."referrals" to "anon";

grant delete on table "public"."referrals" to "authenticated";

grant insert on table "public"."referrals" to "authenticated";

grant references on table "public"."referrals" to "authenticated";

grant select on table "public"."referrals" to "authenticated";

grant trigger on table "public"."referrals" to "authenticated";

grant truncate on table "public"."referrals" to "authenticated";

grant update on table "public"."referrals" to "authenticated";

grant delete on table "public"."referrals" to "postgres";

grant insert on table "public"."referrals" to "postgres";

grant references on table "public"."referrals" to "postgres";

grant select on table "public"."referrals" to "postgres";

grant trigger on table "public"."referrals" to "postgres";

grant truncate on table "public"."referrals" to "postgres";

grant update on table "public"."referrals" to "postgres";

grant delete on table "public"."referrals" to "service_role";

grant insert on table "public"."referrals" to "service_role";

grant references on table "public"."referrals" to "service_role";

grant select on table "public"."referrals" to "service_role";

grant trigger on table "public"."referrals" to "service_role";

grant truncate on table "public"."referrals" to "service_role";

grant update on table "public"."referrals" to "service_role";

grant delete on table "public"."sticky_notes" to "anon";

grant insert on table "public"."sticky_notes" to "anon";

grant references on table "public"."sticky_notes" to "anon";

grant select on table "public"."sticky_notes" to "anon";

grant trigger on table "public"."sticky_notes" to "anon";

grant truncate on table "public"."sticky_notes" to "anon";

grant update on table "public"."sticky_notes" to "anon";

grant delete on table "public"."sticky_notes" to "authenticated";

grant insert on table "public"."sticky_notes" to "authenticated";

grant references on table "public"."sticky_notes" to "authenticated";

grant select on table "public"."sticky_notes" to "authenticated";

grant trigger on table "public"."sticky_notes" to "authenticated";

grant truncate on table "public"."sticky_notes" to "authenticated";

grant update on table "public"."sticky_notes" to "authenticated";

grant delete on table "public"."sticky_notes" to "postgres";

grant insert on table "public"."sticky_notes" to "postgres";

grant references on table "public"."sticky_notes" to "postgres";

grant select on table "public"."sticky_notes" to "postgres";

grant trigger on table "public"."sticky_notes" to "postgres";

grant truncate on table "public"."sticky_notes" to "postgres";

grant update on table "public"."sticky_notes" to "postgres";

grant delete on table "public"."sticky_notes" to "service_role";

grant insert on table "public"."sticky_notes" to "service_role";

grant references on table "public"."sticky_notes" to "service_role";

grant select on table "public"."sticky_notes" to "service_role";

grant trigger on table "public"."sticky_notes" to "service_role";

grant truncate on table "public"."sticky_notes" to "service_role";

grant update on table "public"."sticky_notes" to "service_role";

grant delete on table "public"."user_activity" to "anon";

grant insert on table "public"."user_activity" to "anon";

grant references on table "public"."user_activity" to "anon";

grant select on table "public"."user_activity" to "anon";

grant trigger on table "public"."user_activity" to "anon";

grant truncate on table "public"."user_activity" to "anon";

grant update on table "public"."user_activity" to "anon";

grant delete on table "public"."user_activity" to "authenticated";

grant insert on table "public"."user_activity" to "authenticated";

grant references on table "public"."user_activity" to "authenticated";

grant select on table "public"."user_activity" to "authenticated";

grant trigger on table "public"."user_activity" to "authenticated";

grant truncate on table "public"."user_activity" to "authenticated";

grant update on table "public"."user_activity" to "authenticated";

grant delete on table "public"."user_activity" to "service_role";

grant insert on table "public"."user_activity" to "service_role";

grant references on table "public"."user_activity" to "service_role";

grant select on table "public"."user_activity" to "service_role";

grant trigger on table "public"."user_activity" to "service_role";

grant truncate on table "public"."user_activity" to "service_role";

grant update on table "public"."user_activity" to "service_role";

grant trigger on table "public"."user_activity" to "supabase_admin";

grant delete on table "public"."user_point_streak" to "anon";

grant insert on table "public"."user_point_streak" to "anon";

grant references on table "public"."user_point_streak" to "anon";

grant select on table "public"."user_point_streak" to "anon";

grant trigger on table "public"."user_point_streak" to "anon";

grant truncate on table "public"."user_point_streak" to "anon";

grant update on table "public"."user_point_streak" to "anon";

grant delete on table "public"."user_point_streak" to "authenticated";

grant insert on table "public"."user_point_streak" to "authenticated";

grant references on table "public"."user_point_streak" to "authenticated";

grant select on table "public"."user_point_streak" to "authenticated";

grant trigger on table "public"."user_point_streak" to "authenticated";

grant truncate on table "public"."user_point_streak" to "authenticated";

grant update on table "public"."user_point_streak" to "authenticated";

grant delete on table "public"."user_point_streak" to "service_role";

grant insert on table "public"."user_point_streak" to "service_role";

grant references on table "public"."user_point_streak" to "service_role";

grant select on table "public"."user_point_streak" to "service_role";

grant trigger on table "public"."user_point_streak" to "service_role";

grant truncate on table "public"."user_point_streak" to "service_role";

grant update on table "public"."user_point_streak" to "service_role";

grant delete on table "public"."user_point_streak" to "supabase_admin";

grant insert on table "public"."user_point_streak" to "supabase_admin";

grant references on table "public"."user_point_streak" to "supabase_admin";

grant select on table "public"."user_point_streak" to "supabase_admin";

grant trigger on table "public"."user_point_streak" to "supabase_admin";

grant truncate on table "public"."user_point_streak" to "supabase_admin";

grant update on table "public"."user_point_streak" to "supabase_admin";

grant delete on table "public"."user_points" to "anon";

grant insert on table "public"."user_points" to "anon";

grant references on table "public"."user_points" to "anon";

grant select on table "public"."user_points" to "anon";

grant trigger on table "public"."user_points" to "anon";

grant truncate on table "public"."user_points" to "anon";

grant update on table "public"."user_points" to "anon";

grant delete on table "public"."user_points" to "authenticated";

grant insert on table "public"."user_points" to "authenticated";

grant references on table "public"."user_points" to "authenticated";

grant select on table "public"."user_points" to "authenticated";

grant trigger on table "public"."user_points" to "authenticated";

grant truncate on table "public"."user_points" to "authenticated";

grant update on table "public"."user_points" to "authenticated";

grant delete on table "public"."user_points" to "service_role";

grant insert on table "public"."user_points" to "service_role";

grant references on table "public"."user_points" to "service_role";

grant select on table "public"."user_points" to "service_role";

grant trigger on table "public"."user_points" to "service_role";

grant truncate on table "public"."user_points" to "service_role";

grant update on table "public"."user_points" to "service_role";

grant delete on table "public"."user_points" to "supabase_admin";

grant insert on table "public"."user_points" to "supabase_admin";

grant references on table "public"."user_points" to "supabase_admin";

grant select on table "public"."user_points" to "supabase_admin";

grant trigger on table "public"."user_points" to "supabase_admin";

grant truncate on table "public"."user_points" to "supabase_admin";

grant update on table "public"."user_points" to "supabase_admin";

grant delete on table "public"."user_preferences" to "anon";

grant insert on table "public"."user_preferences" to "anon";

grant references on table "public"."user_preferences" to "anon";

grant select on table "public"."user_preferences" to "anon";

grant trigger on table "public"."user_preferences" to "anon";

grant truncate on table "public"."user_preferences" to "anon";

grant update on table "public"."user_preferences" to "anon";

grant delete on table "public"."user_preferences" to "authenticated";

grant insert on table "public"."user_preferences" to "authenticated";

grant references on table "public"."user_preferences" to "authenticated";

grant select on table "public"."user_preferences" to "authenticated";

grant trigger on table "public"."user_preferences" to "authenticated";

grant truncate on table "public"."user_preferences" to "authenticated";

grant update on table "public"."user_preferences" to "authenticated";

grant delete on table "public"."user_preferences" to "service_role";

grant insert on table "public"."user_preferences" to "service_role";

grant references on table "public"."user_preferences" to "service_role";

grant select on table "public"."user_preferences" to "service_role";

grant trigger on table "public"."user_preferences" to "service_role";

grant truncate on table "public"."user_preferences" to "service_role";

grant update on table "public"."user_preferences" to "service_role";

grant delete on table "public"."user_preferences" to "supabase_admin";

grant insert on table "public"."user_preferences" to "supabase_admin";

grant references on table "public"."user_preferences" to "supabase_admin";

grant select on table "public"."user_preferences" to "supabase_admin";

grant trigger on table "public"."user_preferences" to "supabase_admin";

grant truncate on table "public"."user_preferences" to "supabase_admin";

grant update on table "public"."user_preferences" to "supabase_admin";

create policy "Enable read access for all users"
on "public"."ai_conversations"
as permissive
for select
to public
using (true);


create policy "article categories are viewable"
on "public"."article_categories"
as permissive
for select
to anon
using (true);


create policy "blog articles are viewable"
on "public"."blog_articles"
as permissive
for select
to anon, authenticated
using (true);


create policy "blog categories are viewable"
on "public"."blog_categories"
as permissive
for select
to anon
using (true);


create policy "book_notes are deletable only by their user"
on "public"."book_notes"
as permissive
for delete
to public
using ((( SELECT auth.uid() AS uid) = user_id));


create policy "book_notes are insertable only by their user"
on "public"."book_notes"
as permissive
for insert
to public
with check ((( SELECT auth.uid() AS uid) = user_id));


create policy "book_notes are selectable only by their user"
on "public"."book_notes"
as permissive
for select
to public
using ((( SELECT auth.uid() AS uid) = user_id));


create policy "book_notes are updatable only by their user"
on "public"."book_notes"
as permissive
for update
to public
using ((( SELECT auth.uid() AS uid) = user_id))
with check ((( SELECT auth.uid() AS uid) = user_id));


create policy "books are insertable only by their user"
on "public"."books"
as permissive
for insert
to anon, authenticated
with check (true);


create policy "books are viewable"
on "public"."books"
as permissive
for select
to anon, authenticated
using (true);


create policy "books like are viewable"
on "public"."books_like"
as permissive
for select
to anon, authenticated
using (true);


create policy "libraries are viewable"
on "public"."libraries"
as permissive
for select
to anon, authenticated
using (true);


create policy "point_transactions are deletable only by their user"
on "public"."point_transactions"
as permissive
for delete
to public
using ((( SELECT auth.uid() AS uid) = user_id));


create policy "point_transactions are insertable only by their user"
on "public"."point_transactions"
as permissive
for insert
to public
with check ((( SELECT auth.uid() AS uid) = user_id));


create policy "point_transactions are selectable only by their user"
on "public"."point_transactions"
as permissive
for select
to public
using ((( SELECT auth.uid() AS uid) = user_id));


create policy "point_transactions are updatable only by their user"
on "public"."point_transactions"
as permissive
for update
to public
using ((( SELECT auth.uid() AS uid) = user_id))
with check ((( SELECT auth.uid() AS uid) = user_id));


create policy "Enable insert for authenticated users only"
on "public"."profiles"
as permissive
for insert
to supabase_admin
with check (true);


create policy "Enable read access for all users"
on "public"."profiles"
as permissive
for select
to public
using (true);


create policy "Enable read access for all users"
on "public"."quotes"
as permissive
for select
to public
using (true);


create policy "reading_list are deletable only by their user"
on "public"."reading_list"
as permissive
for delete
to public
using ((( SELECT auth.uid() AS uid) = user_id));


create policy "reading_list are insertable only by their user"
on "public"."reading_list"
as permissive
for insert
to public
with check ((( SELECT auth.uid() AS uid) = user_id));


create policy "reading_list are selectable only by their user"
on "public"."reading_list"
as permissive
for select
to public
using ((( SELECT auth.uid() AS uid) = user_id));


create policy "reading_list are updatable only by their user"
on "public"."reading_list"
as permissive
for update
to public
using ((( SELECT auth.uid() AS uid) = user_id))
with check ((( SELECT auth.uid() AS uid) = user_id));


create policy "reading_stats are deletable only by their user"
on "public"."reading_stats"
as permissive
for delete
to public
using ((( SELECT auth.uid() AS uid) = user_id));


create policy "reading_stats are insertable only by their user"
on "public"."reading_stats"
as permissive
for insert
to authenticated, supabase_admin
with check ((( SELECT auth.uid() AS uid) = user_id));


create policy "reading_stats are selectable only by their user"
on "public"."reading_stats"
as permissive
for select
to public
using ((( SELECT auth.uid() AS uid) = user_id));


create policy "reading_stats are updatable only by their user"
on "public"."reading_stats"
as permissive
for update
to public
using ((( SELECT auth.uid() AS uid) = user_id))
with check ((( SELECT auth.uid() AS uid) = user_id));


create policy "Enable insert for authenticated users only"
on "public"."referrals"
as permissive
for insert
to authenticated, anon
with check (true);


create policy "Enable read access for all users"
on "public"."referrals"
as permissive
for select
to public
using (true);


create policy "Enable delete for users based on user_id"
on "public"."sticky_notes"
as permissive
for delete
to public
using ((( SELECT auth.uid() AS uid) = user_id));


create policy "Enable insert for users based on user_id"
on "public"."sticky_notes"
as permissive
for insert
to public
with check ((( SELECT auth.uid() AS uid) = user_id));


create policy "Enable read access for all users"
on "public"."sticky_notes"
as permissive
for select
to public
using (true);


create policy "Enable update for users based on email"
on "public"."sticky_notes"
as permissive
for update
to public
using ((( SELECT auth.uid() AS uid) = user_id))
with check ((( SELECT auth.uid() AS uid) = user_id));


create policy "user_activity are deletable only by their user"
on "public"."user_activity"
as permissive
for delete
to public
using ((( SELECT auth.uid() AS uid) = user_id));


create policy "user_activity are insertable only by their user"
on "public"."user_activity"
as permissive
for insert
to authenticated, supabase_admin
with check ((( SELECT auth.uid() AS uid) = user_id));


create policy "user_activity are selectable only by their user"
on "public"."user_activity"
as permissive
for select
to public
using ((( SELECT auth.uid() AS uid) = user_id));


create policy "user_activity are updatable only by their user"
on "public"."user_activity"
as permissive
for update
to public
using ((( SELECT auth.uid() AS uid) = user_id))
with check ((( SELECT auth.uid() AS uid) = user_id));


create policy "user_point_streak are deletable only by their user"
on "public"."user_point_streak"
as permissive
for delete
to public
using ((( SELECT auth.uid() AS uid) = user_id));


create policy "user_point_streak are insertable only by their user"
on "public"."user_point_streak"
as permissive
for insert
to authenticated, supabase_admin
with check ((( SELECT auth.uid() AS uid) = user_id));


create policy "user_point_streak are selectable only by their user"
on "public"."user_point_streak"
as permissive
for select
to public
using ((( SELECT auth.uid() AS uid) = user_id));


create policy "user_point_streak are updatable only by their user"
on "public"."user_point_streak"
as permissive
for update
to public
using ((( SELECT auth.uid() AS uid) = user_id))
with check ((( SELECT auth.uid() AS uid) = user_id));


create policy "user_points are deletable only by their user"
on "public"."user_points"
as permissive
for delete
to public
using ((( SELECT auth.uid() AS uid) = user_id));


create policy "user_points are insertable only by their user"
on "public"."user_points"
as permissive
for insert
to authenticated, supabase_admin
with check ((( SELECT auth.uid() AS uid) = user_id));


create policy "user_points are selectable only by their user"
on "public"."user_points"
as permissive
for select
to public
using ((( SELECT auth.uid() AS uid) = user_id));


create policy "user_points are updatable only by their user"
on "public"."user_points"
as permissive
for update
to public
using ((( SELECT auth.uid() AS uid) = user_id))
with check ((( SELECT auth.uid() AS uid) = user_id));


create policy "user_preferences are deletable only by their user"
on "public"."user_preferences"
as permissive
for delete
to public
using ((( SELECT auth.uid() AS uid) = user_id));


create policy "user_preferences are insertable only by their user"
on "public"."user_preferences"
as permissive
for insert
to authenticated, supabase_admin
with check ((( SELECT auth.uid() AS uid) = user_id));


create policy "user_preferences are selectable only by their user"
on "public"."user_preferences"
as permissive
for select
to public
using ((( SELECT auth.uid() AS uid) = user_id));


create policy "user_preferences are updatable only by their user"
on "public"."user_preferences"
as permissive
for update
to public
using ((( SELECT auth.uid() AS uid) = user_id))
with check ((( SELECT auth.uid() AS uid) = user_id));


CREATE TRIGGER update_timestamps BEFORE INSERT OR UPDATE ON public.reading_list FOR EACH ROW EXECUTE FUNCTION update_timestamp_based_on_status();

CREATE TRIGGER update_user_activity_modtime BEFORE UPDATE ON public.user_activity FOR EACH ROW EXECUTE FUNCTION update_modified_column();



